{% extends 'base.html' %}

{% block head %}
<title>ACI MAC-Level Reporting</title>
{% endblock %}

{% block body %}
<div class="content">  
        <h1> ACI MAC Address Database</h1>
        <br />
        <h2>Gather MAC Addresses from ACI and Populate Database</h2>
        <h4>(Deletes and re-populates existing data)</h4>
            <div class="form">
                <form action="/collect" method="POST">
                    <label for="mac">Refresh Database</label>
                    <input type="submit" value="Collect MAC Table">
                </form>
            </div>   
        <br />
        <br />
        <h2>Query a MAC Address directly from ACI API</h2>
            <div class="form">
                <form action="/action" method="POST">
                    <label for="mac">MAC Address</label>
                    <input type="mac" name="mac" id="mac">
                    <input type="submit" value="Submit Device MAC">
                </form>
            </div> 
            <br />
            <br />
        <h2>Find existing MAC entry in saved Database</h2>
            <div class="form">
                <form action="/" method="POST">
                    <label for="device">Device MAC</label>
                    <input type="mac" name="mac" id="mac">
                    <input type="submit" value="Submit Device MAC">
                </form>
            </div> 
            <br />
            <br />            
    <br />
    <h2>Full Database Table of MAC Entries</h2>
    <table>
        <tr>
            <th>MAC</th>
            <th>IP</th>       
            <th>Interface</th>
        </tr>
        {% for d in data %}
            <tr>
                <td>{{ d.mac}}</td>
                <td>{{ d.ip }}</td>
                <td>{{ d.interface}}</td>             
            </tr>
        {% endfor %}
    </table>
{% endblock %}

